DIRECTUS_PORT=8055
DIRECTUS_KEY=<REPLACE_ME>
DIRECTUS_SECRET=<REPLACE_ME>
DIRECTUS_ADMIN_EMAIL=<REPLACE_ME>
DIRECTUS_ADMIN_PASSWORD=<REPLACE_ME>
MYSQL_DATABASE=ruijun_cms
MYSQL_USER=directus
MYSQL_PASSWORD=<REPLACE_ME>
MYSQL_ROOT_PASSWORD=<REPLACE_ME>
MINIO_ROOT_USER=directus
MINIO_ROOT_PASSWORD=<REPLACE_ME>
MINIO_BUCKET=ruijun-cms
SALES_NOTIFICATION_WEBHOOK_URL=<REPLACE_ME>
LEAD_NOTIFICATION_MAX_ATTEMPTS=3
CMS_NOTIFICATION_WORKER_TOKEN=<REPLACE_ME>
CMS_NOTIFICATION_WORKER_EMAIL=notification-worker@ruijun.com
